.block-chat {
    color: #48465B;
    display: flex;
    padding: 15px;
    background: #eee;
    .left-chat {
        background: #fff;
        padding: 15px;
        width: 360px; 
        margin-right: 30px;
       
       .list-user{
           .current {
               background: #eee;
           }
       }
       
        .user {
            display: flex;
             padding: 10px 0;
             cursor: pointer;
            span {
                padding-right: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
           
            .des {
                display: flex;
                align-items: center;
                font-size: 13px;
               
               
                strong {
                    font-size: 14px;
                    display: block;    
                }
            }
            .time {
                display: flex;
                text-align: right;    
                font-size: 12px;
                margin-left: auto;
                align-items: center;
                padding-right: 5px;
                span {
                    padding-right: 0;
                    display: block;
                }
                .count {
                    width: 17px;
                    height: 17px;
                    text-align: center;
                    line-height: 17px;
                    font-size: 9px;
                    color: #fff;
                    background: #1FCC08;
                    border-radius: 50%;
                    display: inline-block;
                   
                }
            }    
            &.top {
               padding: 5px 0;
                justify-content: center;
                 position: relative;
                  .btn-back {
                    .outline: none!important;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -15px;
                    width: 24px;
                    height: 24px;
                    z-index: 2;
                    background: url(../img/back.svg) center no-repeat;
                    background-size: 70%;
                    border: 0!important;
                    display: none;
                }
            } 
           
        }
          
        .list-user {
            overflow-y: auto;
            list-style: none;
            padding: 0;  
            height: calc(100vh - 216px);
            .user {
                .des {
                    flex-grow: 1;
                    padding-right: 10px;
                }
            }
        }
        .frm-search {
            position: relative;
             margin-top: 10px;
             margin-bottom: 10px;
             outline: none!important;
            .txt-search {
                width: 100%;
                height: 34px;
                padding: 0 15px 0 40px;
                line-height: 34px;
                background: #F2F3F7;
                border: 0;
                border-radius: 3px;
                 outline: none!important;
            }
            .btn-search {
                width: 34px;
                height: 34px;
                border: 0;
                padding:  0;
                position: absolute;
                left: 0;
                top: 0;
               background: url(../img/btn-search.svg) center no-repeat;
               background-size: 60%;
            }
        }    
    }
    .content-chat {
        display: flex;
        width: 1px;
        flex-grow: 1;
        padding: 15px;
        background: #fff;
        border-radius: 5px;
        flex-direction: column;
        .overflow {
            overflow: hidden;
        }
        .header-chat {
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
            text-align: center;
            position: relative;
            strong {
                display: block;
            }
            .btn-address { 
                    position: absolute; 
                    left: 15px;
                    top: 50%; 
                    margin-top: -16px;
                    width: 24px; height: 24px;
                    border: 0;
                    background: url(../img/addressbook.svg) center no-repeat;
                    background-size: contain;
                    display: none;
                }
            .status {
                background: #ccc;
                width: 8px;
                height: 8px;
                border-radius: 50%; 
                display: inline-block;
                 margin-right: 5px;
                 vertical-align: middle;
            }
            &.online {
                .status {
                    background: #1FCC08;
                }
            }
        }
        .list-chat {
             height: calc(100vh - 244px);
             overflow-y: auto;
            .chat-item {
                padding: 15px 0;
                max-width: 50%;
                .top {
                    display: flex;
                    span {
                        padding-right: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;    
                        }
                    }
                    strong {
                        flex-grow: 1; 
                        margin-top: 30px;
                    }
                    .action {
                        margin-top: 34px;
                        font-size: 12px;
                        color: #888;
                        display: flex;
                        span {
                            padding: 0 10px;
                        }
                        strong {
                            margin-top: 0;
                        }
                    }
                }
                .bottom {
                    padding: 10px;
                    border-radius: 3px;
                    background: #E9FAE6;
                    margin-top: 10px;
                }
                &.right {
                  float: right;
                    .top {
                         flex-direction: row-reverse;
                         span {
                             padding: 0;
                        }
                         strong {
                            
                             text-align: right;
                             padding: 0 10px;
                        }
                        .action {
                            flex-direction: row-reverse;
                        }
                    }
                    .bottom {
                        background: #eee; 
                    }
                }
            }
        }
        .footer-chat {
            display: block;
            margin: 0 -15px;
            border-top: 1px solid #eee;
            padding: 20px 20px 0 20px;
            margin-top: auto;
            textarea {
                width: 100%;
                height: 60px;
                border: 0!important;
                outline: none!important;
                resize: none;
                
            }
            .tool {
                display: flex;
                margin-top: 5px;
                .list-tool {
                    i {
                        margin-right: 15px;
                    }
                }
                .btn-reply {
                    margin-left: auto;
                    height: 40px; 
                    line-height: 40px;
                    padding: 0 30px;
                    color:#fff;
                    background: #1FCC08;
                    border: 0;
                    border-radius: 5px;
                 }
            }
        }    
    }
}


    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.icon {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-face {
    background-image: url(../img/icon-emotion.svg);
    width: 20px;
    height: 20px;
}
    .icon-picture {
    background-image: url(../img/icon-photo.svg);
    width: 23px;
    height: 20px;
}
    .icon-file {
    background-image: url(../img/icon-file.svg);
    width: 25px;
    height: 20px;
}
* { box-sizing: border-box;}
body { font-family: 'Roboto', sans-serif; margin: 0;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@media screen and (max-width: 769px) {
    
    .block-chat {
        padding: 0;
        position: relative;
        display: block;
        .left-chat {
            transform: translateX(-100vw);
            position: absolute; 
            left: 0; 
            top: 0;
            width: 100vw;
            height: 100%;
            z-index: 9;
            transition: all .5s ease-in-out 0s;
            &.open {
                transform: translateX(0);
            }
            .list-user {
                height: calc(100vh - 170px);
            }
            .user {
                &.top {
                    .btn-back {
                        display: block;
                    }
                }
            }
        }
        .content-chat {
            width: 100%;
            .header-chat {
                 .btn-address {
                    display: block;
                }
            }
            .list-chat {
                height: calc(100vh - 214px);
                .chat-item {
                    max-width: 100%;
                    
                }
            }
            
        }
       
    }
    


}