@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.block-chat {
  color: #48465B;
  display: flex;
  padding: 15px;
  background: #eee;
}

.block-chat .left-chat {
  background: #fff;
  padding: 15px;
  width: 360px;
  margin-right: 30px;
}

.block-chat .left-chat .list-user .current {
  background: #eee;
}

.block-chat .left-chat .user {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}

.block-chat .left-chat .user span {
  padding-right: 10px;
}

.block-chat .left-chat .user span img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.block-chat .left-chat .user .des {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.block-chat .left-chat .user .des strong {
  font-size: 14px;
  display: block;
}

.block-chat .left-chat .user .time {
  display: flex;
  text-align: right;
  font-size: 12px;
  margin-left: auto;
  align-items: center;
  padding-right: 5px;
}

.block-chat .left-chat .user .time span {
  padding-right: 0;
  display: block;
}

.block-chat .left-chat .user .time .count {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  font-size: 9px;
  color: #fff;
  background: #1FCC08;
  border-radius: 50%;
  display: inline-block;
}

.block-chat .left-chat .user.top {
  padding: 5px 0;
  justify-content: center;
  position: relative;
}

.block-chat .left-chat .user.top .btn-back {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 24px;
  height: 24px;
  z-index: 2;
  background: url(../img/back.svg) center no-repeat;
  background-size: 70%;
  border: 0;
  display: none;
}

.block-chat .left-chat .list-user {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  height: calc(100vh - 216px);
}

.block-chat .left-chat .list-user .user .des {
  flex-grow: 1;
  padding-right: 10px;
}

.block-chat .left-chat .frm-search {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none !important;
}

.block-chat .left-chat .frm-search .txt-search {
  width: 100%;
  height: 34px;
  padding: 0 15px 0 40px;
  line-height: 34px;
  background: #F2F3F7;
  border: 0;
  border-radius: 3px;
  outline: none !important;
}

.block-chat .left-chat .frm-search .btn-search {
  width: 34px;
  height: 34px;
  border: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/btn-search.svg) center no-repeat;
  background-size: 60%;
}

.block-chat .content-chat {
  display: flex;
  width: 1px;
  flex-grow: 1;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  flex-direction: column;
}

.block-chat .content-chat .overflow {
  overflow: hidden;
}

.block-chat .content-chat .header-chat {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}

.block-chat .content-chat .header-chat strong {
  display: block;
}

.block-chat .content-chat .header-chat .btn-address {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -16px;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(../img/addressbook.svg) center no-repeat;
  background-size: contain;
  display: none;
}

.block-chat .content-chat .header-chat .status {
  background: #ccc;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.block-chat .content-chat .header-chat.online .status {
  background: #1FCC08;
}

.block-chat .content-chat .list-chat {
  height: calc(100vh - 244px);
  overflow-y: auto;
}

.block-chat .content-chat .list-chat .chat-item {
  padding: 15px 0;
  max-width: 50%;
}

.block-chat .content-chat .list-chat .chat-item .top {
  display: flex;
}

.block-chat .content-chat .list-chat .chat-item .top span {
  padding-right: 10px;
}

.block-chat .content-chat .list-chat .chat-item .top span img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.block-chat .content-chat .list-chat .chat-item .top strong {
  flex-grow: 1;
  margin-top: 30px;
}

.block-chat .content-chat .list-chat .chat-item .top .action {
  margin-top: 34px;
  font-size: 12px;
  color: #888;
  display: flex;
}

.block-chat .content-chat .list-chat .chat-item .top .action span {
  padding: 0 10px;
}

.block-chat .content-chat .list-chat .chat-item .top .action strong {
  margin-top: 0;
}

.block-chat .content-chat .list-chat .chat-item .bottom {
  padding: 10px;
  border-radius: 3px;
  background: #E9FAE6;
  margin-top: 10px;
}

.block-chat .content-chat .list-chat .chat-item.right {
  float: right;
}

.block-chat .content-chat .list-chat .chat-item.right .top {
  flex-direction: row-reverse;
}

.block-chat .content-chat .list-chat .chat-item.right .top span {
  padding: 0;
}

.block-chat .content-chat .list-chat .chat-item.right .top strong {
  text-align: right;
  padding: 0 10px;
}

.block-chat .content-chat .list-chat .chat-item.right .top .action {
  flex-direction: row-reverse;
}

.block-chat .content-chat .list-chat .chat-item.right .bottom {
  background: #eee;
}

.block-chat .content-chat .footer-chat {
  display: block;
  margin: 0 -15px;
  border-top: 1px solid #eee;
  padding: 20px 20px 0 20px;
  margin-top: auto;
}

.block-chat .content-chat .footer-chat textarea {
  width: 100%;
  height: 60px;
  border: 0 !important;
  outline: none !important;
  resize: none;
}

.block-chat .content-chat .footer-chat .tool {
  display: flex;
  margin-top: 5px;
}

.block-chat .content-chat .footer-chat .tool .list-tool i {
  margin-right: 15px;
}

.block-chat .content-chat .footer-chat .tool .btn-reply {
  margin-left: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  color: #fff;
  background: #1FCC08;
  border: 0;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-face {
  background-image: url(../img/icon-emotion.svg);
  width: 20px;
  height: 20px;
}

.icon-picture {
  background-image: url(../img/icon-photo.svg);
  width: 23px;
  height: 20px;
}

.icon-file {
  background-image: url(../img/icon-file.svg);
  width: 25px;
  height: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

@media screen and (max-width: 769px) {
  .block-chat {
    padding: 0;
    position: relative;
    display: block;
  }
  .block-chat .left-chat {
    transform: translateX(-100vw);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 9;
    transition: all .5s ease-in-out 0s;
  }
  .block-chat .left-chat.open {
    transform: translateX(0);
  }
  .block-chat .left-chat .list-user {
    height: calc(100vh - 170px);
  }
  .block-chat .left-chat .user.top .btn-back {
    display: block;
  }
  .block-chat .content-chat {
    width: 100%;
  }
  .block-chat .content-chat .header-chat .btn-address {
    display: block;
  }
  .block-chat .content-chat .list-chat {
    height: calc(100vh - 214px);
  }
  .block-chat .content-chat .list-chat .chat-item {
    max-width: 100%;
  }
}
/*# sourceMappingURL=screen.css.map */